<launch>

  <!-- Corresponding config files -->
  <arg name="rtabmapviz_cfg" default="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" />

  <arg name="base_frame_id"/>
  <arg name="approx_sync"/>
  <arg name="visual_odometry"   default="false"/>

  <arg name="rgb_topic"/>
  <arg name="depth_topic"/>
  <arg name="camera_info_topic"/>
  <arg name="odom_topic"        default=""/>

  <arg name="compressed"/>
  <arg     if="$(arg compressed)" name="rgb_topic_relay"    default="$(arg rgb_topic)_relay"/>
  <arg unless="$(arg compressed)" name="rgb_topic_relay"    default="$(arg rgb_topic)"/>
  <arg     if="$(arg compressed)" name="depth_topic_relay"  default="$(arg depth_topic)_relay"/>
  <arg unless="$(arg compressed)" name="depth_topic_relay"  default="$(arg depth_topic)"/>

  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" 
        args="$(arg rtabmapviz_cfg)" output="screen">

      <param name="frame_id"            type="string" value="$(arg base_frame_id)"/>
      <param name="subscribe_depth"     type="bool"   value="true"/>
      <param name="subscribe_odom_info" type="bool"   value="$(arg visual_odometry)"/>
      <param name="approx_sync"         type="bool"   value="$(arg approx_sync)"/>
      
      <param if="$(arg compressed)"     name="rgb/image_transport" type="string" value="compressed"/>
      <param unless="$(arg compressed)" name="rgb/image_transport" type="string" value="raw"/>

      <remap from="rgb/image"       to="$(arg rgb_topic_relay)"/>
      <remap from="depth/image"     to="$(arg depth_topic_relay)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <remap from="odom"            to="$(arg odom_topic)"  unless="$(arg visual_odometry)"/>
    </node>
  </group>
</launch>
